* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
  }

  .site-container{
    width: 100%;
    height: min-content;
    background-color: #1A1C18;

    .content-wrapper{
        width: 88%;
        height: min-content;
        margin: 0 auto;
    }

  }